@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
/*хедер*/
header{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 2;
}
.menu{
    width: 480px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 50px 0;
}
.menu button{
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    color: white;
    font: weight 1px;
    transition: 0.3s;
}
.menu button:hover{
    color: #bdc6ce;
}

.main{
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

/*о фильме*/
.movieinfo{
    height:650px;
    display: flex;  
}
.video-background{
    position: absolute;
    z-index: -1000;
}
video{
    width:100%;
}
.text{
    position: relative;
    z-index: 1;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.85),rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0.28),rgba(0,0,0,0.75),rgba(0,0,0,1));
    padding: 0 75px;
}
.text img{
    padding-top: 5px;
}
.textflex{
    height: 80%;
    justify-content: start;
    align-items: end;
    display: flex;
}

.teg{
    background-color: black;
    border-radius: 16px;
    padding: 4px 16px;
    width: auto;
    font-size: 15px;
    width:min-content;
}
.textteg h2{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.infoteg{
    color: #9CA4AB;
    margin-top: 8px;
    margin-bottom: 24px;
}
.textteg button{
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background-color: #00925D;
    color: white;
    font-size: 17px;
    margin: 0;
    transition: 0.5s;
}
.textteg button img{
    transform: translate(0, 3px);
    padding: 0;
    margin-right: 10px;
}
.textteg button:hover {
  box-shadow: 
    inset -8em 0 0 0 #005a39,
    inset 8em 0 0 0 #005a39;  
}
/*описание*/
.description{
    padding: 0 75px;
}
.description p{
    color: #9CA4AB;
    padding-bottom: 30px;
}

.description button{
    border: none;
    background: none;
    color: #00925D;
    font-weight: bold;
}
/*части саги*/
.parts{
    padding: 30px 75px;
    border-top: 2px solid #141516;
    border-bottom: 2px solid #141516;
}
.container{
    display: inline-flex;
}
.item{
    margin-right: 20px;

}
.item p{
    color: #9CA4AB;
    margin: 0;
}
.item h4{
    margin: 12px 0;
}

/*футер*/
footer{
    padding: 70px 75px;
}

.details{
    display: grid;
    grid-template-areas: 
    "h1 detailsa"
    "h1 detailsa"
    "h1 connect";
    grid-template-columns: 1fr 1fr;
    gap: 0 300px;
}
.detailsa{
    grid-area: detailsa;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}
.detailsa a{
    padding-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.detailsa p{
    padding-left: 15px;
    font-size: 20px;
}

.details h1{
    width: 70%;
    font-size: 38px;
    margin: 0;
}

.details h1{
    margin: 0;
}

.connect{
    grid-area: connect;
    display: flex;
    justify-content: end;
}

.connect img{
    padding-left: 40px;
}

.footerinfo{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    color: #9CA4AB;
    padding-top: 70px;
}