body{
    font-family: Inter;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
}
/*хедер*/
header{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 2;
}
.menu{
    width: 480px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 50px 0;
}
.menu button{
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    color: white;
    font: weight 1px;
}
.main{
    font-weight: bold;
}

/*о фильме*/
.movieinfo{
    height:650px;
    flex:1;
    display: flex;
}
.video-background{
    position: absolute;
    z-index: -1000;
}
video{
    width:100%;
    overflow: hidden;
}
.text{
    position: relative;
    z-index: 1;
    flex: 1;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.85),rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0.28),rgba(0,0,0,0.75),rgba(0,0,0,1));


}

.info{
    height: 1000px;
}