@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

/*хедер*/
header{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 2;
}
.menu{
    width: 480px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 50px 0;

}
.menu a{
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    color: white;
    font: weight 1px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}
.menu a:hover{
    color: #bdc6ce;
}

.main{
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

/*о фильме*/
.movieinfo{
    height:650px;
    display: flex;  
}
.video-background{
    position: absolute;
    z-index: -1000;
}
video{
    width:100%;
}
.text{
    position: relative;
    z-index: 1;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.85),rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0.28),rgba(0,0,0,0.75),rgba(0,0,0,1));
    padding: 0 75px;
}
.text img{
    padding-top: 5px;
}
.textflex{
    height: 80%;
    justify-content: start;
    align-items: end;
    display: flex;
}

.teg{
    background-color: black;
    border-radius: 16px;
    padding: 4px 16px;
    width: auto;
    font-size: 15px;
    width:min-content;
}
.textteg h2{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.infoteg{
    color: #9CA4AB;
    margin-top: 8px;
    margin-bottom: 24px;
}
.textteg button{
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background-color: #00925D;
    color: white;
    font-size: 17px;
    margin: 0;
    transition: 0.5s;
}
.textteg button img{
    transform: translate(0, 3px);
    padding: 0;
    margin-right: 10px;
}
.textteg button:hover {
  box-shadow: 
    inset -8em 0 0 0 #005a39,
    inset 8em 0 0 0 #005a39;  
}
/*описание*/
.description{
    padding: 0 75px;
}
.description p{
    color: #9CA4AB;
    padding-bottom: 30px;
}

.description button{
    border: none;
    background: none;
    color: #00925D;
    font-weight: bold;
}

/*актеры*/
.actorslist{
    padding: 0 75px;
}
.actorslist a{
    color: white;
    text-decoration: none;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    padding-left: 45px;
}
.slides{
    display: inline-flex;
    transition: transform 0.5s ease-in-out;
}
.slide{
    display: inline-flex;
    flex-shrink: 0;/*не изменять размер*/
    width: 100%;
}
.slideitem{
    display: inline-flex;
    color: white;
    margin: 0 30px;
    height: 50px;
}

.slidetext h4{
    margin: 0;
    padding: 5px 7px;
}
.slidetext p{
    margin: 0;
    padding-left: 7px;
    color: #9CA4AB;
    font-size: 15px;
}

.retern, .next{
    position: absolute;
    top:20%;
    background-color: rgb(40, 38, 45);
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 2;
    transition: 0.3s;
}
.next:hover{
    background-color: rgba(255, 255, 255, 0.4); 
}
.retern:hover{
    background-color: rgba(255, 255, 255, 0.4); 
}

.retern{
    left: 0;
    background-image: url(foto/left.png);
    background-size: cover;
}
.next {
    right: 0;
    background-image: url(foto/right.png);
    background-size: cover;
}

.moreactors{
    border: none;
    background-color: #00925D;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 6px 15px;
    transition: 0.5s;
}
.moreactors:hover{
    box-shadow: 
    inset -8em 0 0 0 #005a39,
    inset 8em 0 0 0 #005a39;  
}

/*части саги*/
.parts{
    padding: 30px 75px;
    border-top: 2px solid #141516;
    border-bottom: 2px solid #141516;
}
.container{
    display: inline-flex;
}
.item{
    margin-right: 20px;

}
.item p{
    color: #9CA4AB;
    margin: 0;
}
.item h4{
    margin: 12px 0;
}

/*футер*/
footer{
    padding: 50px 75px;
}

.details{
    display: grid;
    grid-template-areas: 
    "h1 detailsa"
    "h1 detailsa"
    "h1 connect";
    grid-template-columns: 1fr 1fr;
    gap: 0 300px;
}
.detailsa{
    grid-area: detailsa;
    display: inline-flex;
    justify-content: end;
    align-items: center;
}
.detailsa a{
    padding-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.detailsa p{
    padding-left: 15px;
    font-size: 20px;
}

.details h1{
    width: 70%;
    font-size: 38px;
    margin: 0;
}

.details h1{
    margin: 0;
}

.connect{
    grid-area: connect;
    display: flex;
    justify-content: end;
}

.connect img{
    padding-left: 40px;
}

.footerinfo{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    color: #9CA4AB;
    padding-top: 50px;
}
.detailsa a:hover{
    color: #bdc6ce;
}

/*плеер*/
.back{
    border: none;
    margin: 0;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: rgba(160, 160, 160, 0.5);
    background-image: url(foto/exit.png);
    background-size: cover;
    transition: 0.3s;
}

.back:hover{ 
    background-color: rgba(255, 255, 255, 0.6); 
}

/*все кроме главной*/
.comments-page{
    color: rgb(0, 0, 0);
    background-image:url('img/Overlay.png'), url('img/Background.png');
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    display: block;
    padding: 250px 0 100px 0;
}

.main-container {
    background-color: #B0B399;
    max-width: 1000px;
    width: 90%;
    border-radius: 40px;
    padding: 20px 20px;
    box-shadow: 0 0 27px 25px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    box-sizing: border-box;
}

.title{
    font-weight:bold ;
    text-align: center;
    margin: 20px 20px 20px ;
    text-transform: uppercase;
    color: rgb(11, 44, 10);
    font-size: 32px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.common-input{
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.common-btn{
    border: none;
    background-color: rgb(11, 44, 10);
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.95);
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
}


/*-------------------------------------КОММЕНТАРИИ-------------------------------------------*/


.common-card{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 5px 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    
}

.comment-text {
    font-size: 20px;
    color:rgb(11, 44, 10);
    

    word-break: break-word;
    border-top: 2px solid #B0B399;
    margin: 0;
    padding: 10px 0 10px 0;
}

.edit-btn, .delete-btn {
    padding: 9px 13px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 500;
    transition: 0.4s;
}
.common-btn:hover{
    box-shadow: 
    inset -8em 0 0 0 #005a39,
    inset 8em 0 0 0 #005a39;  
}

.edit-btn {
    background-color: rgb(31, 110, 28);
    color: white;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    flex-wrap: wrap;
    gap: 10px;
}

.comment-actions {
    display: flex;
    gap: 10px;
}


/*-------------------------------------ВРЕМЯ-------------------------------------------*/


.comment-time {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    align-self: flex-end;
    padding: 2px;
}


/*-------------------------------------РЕГИСТРАЦИЯ-------------------------------------------*/


.registration-page {
    background-image: url('img/Karlail.jpg');
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.form-container {
    background-color: #ffd9fe;
    border-radius: 40px;
    padding: 40px 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 40px 20px rgba(255, 0, 234, 0.2);
}

.registration-page h1 {
    color:rgb(247, 132, 255);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 32px;
}

.registration-page p {
    color: rgb(247, 132, 255);
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.registration-page .input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.registration-page input{
    width: 465px;
}
.registration-page button{
    width: 465px;
}

.registration-page button:hover{
    box-shadow: 
    inset -20em 0 0 0 rgb(250, 183, 255),
    inset 20em 0 0 0 rgb(250, 183, 255);  
}

.registration-page a{
    width: 465px;
    transition: 0.5s;
}

.registration-page a:hover{
    background-color: rgb(128, 0, 137);
    color: white;
}

.registration-page .common-input {
    background-color: white;
    border-radius: 30px; 
    border: 2px solid transparent;
    padding: 15px;
    color: rgb(247, 132, 255);
}

.registration-page .common-btn {
    width: 100%;
    background-color:rgba(255, 0, 234, 0.3) ;
    border-radius: 30px;
    padding: 15px 30px;
}


/*--------------------------------------------------------------------------------*/


.comment-info {
    display: flex;
    align-self: flex-end;
    gap: 7px;
}

.comment-author {
    font-weight: bold;
    color: rgb(11, 44, 10);
    font-size: 26px;
}


/*-------------------------------------КНОПКА НАЗАД-------------------------------------------*/


.back-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid rgb(207, 48, 219);
    color: rgb(207, 48, 219);
    font-size: 18px;
}
.place-actor{
    background-color: #B0B399;
    max-width: 1100px;
    width: 90%; 
    border-radius: 40px;
    padding: 20px 20px;
    box-shadow: 0 0 27px 25px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    box-sizing: border-box;
}


.place-actor h2{
    font-weight:bold ;
    text-align: center;
    margin: 20px 20px 20px ;
    text-transform: uppercase;
    color: rgb(11, 44, 10);
    font-size: 32px;
}

.actor-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}


.actor-item {
    width: calc(50% - 15px); 
    background-color: rgba(243, 243, 243, 0.9);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.actor-item h3 {
    color: #ececec;
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color:rgb(11, 44, 10);
    text-align: center;
    
}
.actor-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}
.actor-item p {
    color: #333;
    line-height: 1.6;
    font-size: 14px;
    margin: 0;
    text-align: justify;
    
}


/*-------------------------------------ФАКТЫ -------------------------------------------*/


.fact-container {
    background-color: #B0B399;
    max-width: 1000px;
    width: 90%;
    border-radius: 40px;
    padding: 40px;
    margin: 0 auto;
}


.image-caption {
    text-align: center;
    color: #2c3e50;
    margin-top: 5px;
}

.fact-intro {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0 15px 0;
}

.fact-intro p {
    color: #333;
    text-align: justify;
}

.fact-item, .fact {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
}

.fact-number {
    width: 60px;
    height: 40px;
    background-color: rgb(11, 44, 10);
    color: white;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
    
}

.fact-content h2 {
    color: rgb(11, 44, 10);
    margin-bottom: 10px;
}

.fact-photo img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 9px 9px rgba(55, 55, 55, 0.1);
    
}

.photo-underText {
    text-align: center;
    color: #2c3e50;
    font-style: italic;
    padding: 10px 0;
}

.fact-content p {
    color: #333;
    text-align: justify;
    
}

.fact-end {
    background-color: rgba(11, 44, 10, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
}

.fact-end h3 {
    color: rgb(11, 44, 10);
    margin-bottom: 10px;
}

.fact-end p {
    color: #2c3e50;
}

.main-fact-content {
    background-color: #B0B399;
    max-width: 1000px;
    width: 90%;
    border-radius: 40px;
    padding: 50px;
    margin: 0 auto 60px auto;
    box-shadow: 0 0 27px 25px rgba(0, 0, 0, 0.3);
}

.fact-header-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}

.fact-text-content {
    flex: 1;
}

.fact-meta-tag {
    color: rgb(11, 44, 10);
    background-color: rgba(255, 255, 255);
    padding: 12px 25px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
}

.fact-text-content h1 {
    color: rgb(11, 44, 10);
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.fact-description {
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.4;
}

.fact-intro {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 25px;
    border-left: 5px solid rgb(11, 44, 10);
}

.fact-intro p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
}

.fact-image-content {
    flex: 1;
    text-align: center;
}

.fact-image-content img {
    width: 400px; 
    height: 505px; 
    object-fit: cover; 
    border-radius: 15px;
}

.image-caption {
    color: #2c3e50;
    font-size: 16px;
    margin-top: 15px;
    font-style: italic;
}